@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    background-color: #fcf7f7;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    border-bottom: 1px solid #5e5e5e;
}

.navbar h1 {
    color: #7659b4;
}

.navbar .links {
    margin-left: auto;
}

.navbar .link {
    font-weight: bold;
}

.navbar .pdfLink {
    font-weight: none;
    color: #194fff
}

.navbar .pdfLink:hover {
    font-weight: none;
    color: #002ab4
}

.navbar .freeTimeLink {
    background-color: #7855c4;
    color: #fff;
    border-radius: 50px;
    font-weight: bold;
}

.navbar .freeTimeLink:hover {
    color: #000000;
}

.link:hover {
    color :#7855c4;
}


.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.studentDb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.studentDbTable {
    width: 100%;
    border-collapse: collapse;
}

.studentDbTable th,
.studentDbTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.studentDbTable th {
    background-color: #c3bbd4;
    font-weight: bold;
}

.studentDbTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.studentDbTable tbody tr:hover {
    background-color: #aed6ee;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.searchField,
.searchInput {
    flex: 1 0 45%;
}

.searchField select,
.searchInput input {
    width: 100%;
}

.addElement {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background-color: #7855c4; 
    color: #fff; 
    padding: 7px 15px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none; 
    margin-bottom: 20px;
    margin-top: -10px;
    cursor: pointer; 
    text-align: center;
}

.studentForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.studentForm .formLabel {
    margin-bottom: 10px;
}

.studentForm .formInput {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.studentForm .submitButton {
    padding: 5px 5px;
    background-color: #7855c4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Quicksand";
    margin-left: 30px;
}

.studentForm .submitButton:hover {
    background-color: #7349cc;
}

.finance {
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}

.finance h2 {
    margin: 15px;
    padding: 2px;
}

.finance h3 {
    margin: 15px;
    padding: 2px;
}

.listBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.listBlock h3, p {
    margin: 2px;
    padding: 2px;
}

/*Calendar Module*/
.Calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rbc-calendar {
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px #555555;
    width: 150%;
    max-width: 1000px;
	height: 90%;
    min-height: 580px;
    
}

.rbc-event {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff !important;

}

.rbc-toolbar {
    background-color: #c3bbd4;
    padding: 10px; 	
}

.rbc-toolbar-label {
	border-radius: 5px;
}

.rbc-btn-group {
    margin: 10px;
	border-radius: 5px;
}

/*Lesson Preview*/
.lessonPreview {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lessonPreview img, p {
    margin: 5px;
}

.freeTimes {
    list-style-type: none;
    margin: 5px 0;
    padding: 8px;
    background-color: #ac92e4;
    border: 1px solid #947aca;
    border-radius: 4px;
    font-weight: bold;

    
}

.FreeTimesH1 {
    display: flex;
    justify-content: center;
    margin: 20px;
}
